[mysqld_safe]
log_error=/app/file-share/logs/mysql_error.log

[mysqld]
general_log = 0
general_log_file = /app/file-share/logs/mysql.log

slow_query_log = 1
slow_query_log_file = /app/file-share/logs/mysql-slow.log
long_query_time = 2
log_queries_not_using_indexes = 1

datadir = /app/file-share/data/