.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
  gap: 0.5rem;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li::after {
  content: "/";
  margin-left: 0.5rem;
  color: rgba(0,0,0,0.4);
}

.breadcrumbs li:last-child::after {
  content: '';
  margin: 0;
}

.breadcrumbs a, .breadcrumbs span {
  color: inherit;
}

.breadcrumbs a.clickable, .breadcrumbs span.clickable {
  color: #0d6efd;
  cursor: pointer;
}
