ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_Kestrel__Certificates__Default__Path=/app/storage/certs/agile-studio-server.pem
ASPNETCORE_Kestrel__Certificates__Default__KeyPath=/app/storage/certs/agile-studio-server.key
HTTP_PORTS=80
HTTPS_PORTS=443
AUTH0_CLIENT_SECRET=<your-auth0-client-secret>
DB_PASS=<your-db-user-password>