ASPNETCORE_ENVIRONMENT=Development
APP_DOMAIN=api.development.agilestudio.dev
APP_CERT_PASSWORD=<your-cert-password>
AUTH0_DOMAIN=<your-auth0-domain>
AUTH0_CLIENT_ID=<your-auth0-client-id>
AUTH0_CLIENT_SECRET=<your-auth0-client-secret>
AUTH0_AUDIENCE=<your-auth0-audience>
DB_HOST=agile-studio-server-db-development
DB_ROOT_USER_PASSWORD=<your-root-db-password>
DB_NAME=agile-studio-server-db
DB_USER=agile-studio-server-db-user
DB_PASS=<your-db-user-password>